@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css");

#aranalyzer_metabox h3.hndle span {
    display: block;
    padding-left: 37px;
    line-height: 32px;
    vertical-align: middle;
    background: url(../imgs/AW_logo_icon_80px.png) 0 0 no-repeat;
    background-size: 34px;
}

img#awLogoNoticeArea {
    max-height: 40px;
    float: left;
}

#aw-atomicAdminNotice h2 {
    margin-left: 60px;
}

/*#aranalyzer_metabox:hover .handlediv {*/
/*background: transparent url(../arrows.png) no-repeat 6px 15px !important;*/
/*}*/

#aranalyzer_metabox .inside {
    padding: 0;
}

#aranalyzer_metabox .greyWhite {
    display: block;
    height: 1px;
    margin: 10px -12px 10px -10px;
    overflow: hidden;
    background-color: #e6e6e6;
    border-bottom: 1px solid #fff;
}

#aranalyzer_metabox .enabledArea span {
    font-weight: normal;
}

#aranalyzer_metabox .enabledArea {
    text-align: center;
}

#aranalyzer_metabox .enabledArea input {
    float: none;
    width: auto;
    margin-top: 0px;
    margin-right: 5px;
}

#aranalyzer_metabox .enabledArea select {
    float: none;
    margin-top: 0px;
    margin-right: 5px;
}

.AR-hide {
    display: none !important;
    visibility: hidden;
}

.AR-show {
    display: block !important;
    visibility: visible;
}

/*NEW UI August 2015*/
.arorangetext_font_WP {
    text-align: center !important;
    font-size: 20px;
    color: #E9915A !important;
    font-weight: bold !important;
}

.guestInput {
    margin: 4px auto;
    display: block;
    background-color: #ffffff !important;
    height: 34px;
    padding: 8px;
    border: 1px solid #cacaca;
    box-shadow: 0 0 4px #cacaca inset;
    border-radius: 4px;
}

.AWguestSubmitBtn {

}

.btn {
    display: block;
    margin: 16px auto;
    height: 34px;
    width: 62%;
    border-radius: 4px;
}

button#aw-signInFormSubmit {
    background-color: #64C1DD;
    border: 1px solid #4E95AB;
    color: #ffffff;
    margin-bottom: 2px;
}

#aw-goTosignUpForm, #aw-signUpFormSubmit {
    background-color: #70BE4B;
    border: 1px solid #4cae4c;
    color: #ffffff;
}

/*copy pasted*/
/** Following stylesheet is created to display assessment result.
  * Feel free to change its look and feel per your need.
  **/

/*class ac-container is each measure's wrapper*/
.ac-container {
    background: none repeat scroll 0 0 #ffffff;
    margin: 5px 0;
    /*padding: 1px;*/
    text-align: left;
    max-width: 600px;
}

.ac-container > h3 {
    color: #F3F3F3;
    padding-left: 6px;
}

.ac-container label {
    color: #00BFE7;
    font-size: 24px;

    position: relative;
    font-weight: 600;
    z-index: 20;

    float: none;
    height: 30px;

    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
    line-height: 24px;

    background: rgb(255, 255, 255);
    box-shadow: rgba(155, 155, 155, 0.298039) 0px 0px 0px 1px, rgba(255, 255, 255, 0.901961) 1px 0px 0px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 2px 2px;

}

.ac-container article {
    background: #ffffff;
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    color: #00BFE7
}

/*color defines for each bullet, depending on state*/
#ar-red:before {
    content: url("../imgs/Icon_AW_X.png");

}

#ar-yellow:before {
    content: url("../imgs/Icon_AW_X.png");

}

#ar-green:before {
    content: url("../imgs/Icon_AW_check.png");

}

.ac-container label::after, .ac-container input:checked + label::after {
    visibility: hidden;
}

.ac-container label:hover {
    background: #fff;
}

.ac-container input {
    display: none;
}

.ac-container input:checked ~ article.ac-small {
    height: 140px;
    overflow: scroll;
}

.ac-container input:checked ~ article.ac-medium {
    height: 180px;
}

.ac-container article.ac-large {
    height: 310px;
    overflow: auto;
}

.glyphicon.glyphicon-flag.ar-red {
    color: #BE1313;
}

.glyphicon.glyphicon-flag.ar-yellow {
    color: #fcff20;
}

.glyphicon.glyphicon-flag.ar-green {
    color: #005800;
}

.fa-caret-down:before {
    line-height: 1.6;
}

/**** highlight buttons ****/
iframe#content_ifr .highlight {
    color: red;
}

#hl-class input[type=radio], #hl-class input[type=checkbox] {
    display: none;
}

#hl-class input[type=radio] + label, #hl-class input[type=checkbox] + label {
    display: inline-block;
    /*margin:-2px;*/
    padding: 2px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: auto 20px;
    width: 110px;
}

#hl-class input[type=radio]:checked + label, #hl-class input[type=checkbox]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #e0e0e0;
}

/* display buttons inlilne */
#hl-class > li {
    background: none;
    display: inline-block;
    max-width: 170px;
}

.ar-legend:before {
    /*background: url("../images/ar-small-logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/

    content: url("../imgs/ar-small-logo.png");
    /*    font-size: 20px;
        margin-left: 20px;*/
}

/****Progress Bar and Scoring****/
.ar-progress {
    background-color: #F5F5F5;
    /*background: url("../images/atomic_score_bg.png") no-repeat 0 0 rgba(0, 0, 0, 0);*/
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    clear: both;
    height: 25px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-width: 200px;
    /*    padding: 10px 5px;*/
    position: relative;
}

.ar-score-container {
    width: 86px;
    height: 86px;
    border-radius: 100px;
    float: left;
    /*margin: 0 auto;*/
    position: relative;
    margin-left: 20%;
    background-color: #ffffff;
    border: 5px solid #EA818E;
    line-height: 90px;
}

/*Score Card*/
.ar-score-container > span {
    color: #EA818E;
    font-size: 50px;
    left: 13px;
    position: absolute;
    top: -3px;
}

.ar-score {
    bottom: 0;
    color: #34495E;
    font-size: 25px;
    position: absolute;
    text-shadow: 2px 2px rgba(125, 125, 125, 0.51);
}

/*Progress bar */
.bar-danger {
    background-color: #F72210;
    height: inherit;
    left: 0;
    position: absolute;
    top: 0;
}

.bar-warning {
    background-color: #F6D610;
    height: inherit;
    left: 100px;
    position: absolute;
    top: 0;
}

.bar-success {
    background-color: #2ecc71;
    height: inherit;
    left: 160px;
    position: absolute;
    top: 0;
}

.ar-score-wrapper {
    background: none repeat scroll 0 0 #282828;
    border: 3px solid #121212;
    border-radius: 5px;
    box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    max-width: 300px;
    padding: 5px;
    position: relative;
}

.ar-score-message {
    font-size: 24px;
    text-align: center;
    /*left: 100px;*/
    text-shadow: 1px 1px rgba(125, 125, 125, 0.51);
    /*position: absolute;*/
    /*top: 40px;*/
}

/*uniquness does not show any color bullet*/
#content-orginality:before {
    content: "";
}

/* Show thumbs up if your content is unique */
.ar-thumbsUp {
    display: block;
    margin: 0 auto -20px;
    width: 75px;
}

.ar-wrapper {
    background: none repeat scroll 0 0 #14A0D1;
    border-radius: 9px;
    margin: 280px auto;
    max-width: 800px;
    padding: 50px;
}

#score-box {
    border: 1px solid #EAEAEA;
    background-color: #f9f9f9;
    padding: 5px 15px;
    margin-left: -15px;
    border-radius: 7px;
    max-width: 60%;
    margin-top: 20px;
}

#textarea-wrapper {
    margin-left: -15px;
    margin-right: 15px;
}

/* Following is exclusive to this example only*/
/*section {
    position: relative;
    text-align: center;
}
#contentwrapper {
    left: 32%;
    position: absolute;
}*/

/** Emotions **/
.emotion-details li {
    list-style: none outside none;
}

.emotion-green:before, .emotion-yellow:before, .emotion-red:before {
    content: "?";
    font-size: 130%;
    margin-left: -10px;
    padding-right: 5px;
}

.emotion-details li strong {
    text-transform: capitalize;
}

.emotion-green:before {
    color: #8bc675;
}

.emotion-yellow:before {
    color: #f5eb6b;
}

.emotion-red:before {
    color: #d82727;
}

.grammar-mistakes > li {
    padding-left: 10px;
}

.ac-large li {
    padding-left: 10px;
}

.ar-info-msg {
    color: #BF1E2E;
}

/************************/
/** NEW UI Aug 1st, 2014**/
/*************************/
.arScoreBtn {
    -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background-color: #db2537;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
    text-indent: 0px;
    border: 1px solid #c41d2e;
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    height: 38px;
    line-height: 38px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #810e05;

    margin-left: 75px;
}

.arScoreBtn:hover {
    background-color: #d9505e;
}

.arScoreBtn:active {
    position: relative;
    top: 1px;
}

.AR-tabsButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #64C1DD !important;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #ffffff !important;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    height: 30px;
    line-height: 30px;
    width: 77px;
    text-decoration: none;
    text-align: center;
    /*text-shadow: 1px 1px 0px #ffffff;*/
}

.AR-tabsButton.active {
    background-color: #FAB056 !important;
    color: #ffffff;
    font-weight: bold;
}

a.AR-tabsButton.active {
    background-color: #FAB056 !important;

}

.AR-tabsButton:hover {
    background-color: rgba(191, 30, 46, 0.77);
    color: #f9f9f9;
    text-decoration: none;
}

.AR-tabsButton:active {
    position: relative;
    top: 1px;
}

#AR-newUI {
    clear: both;
    padding-top: 20px;
}

#AR-tabsSummary {
    margin: 0;
    width: 215px;
}

.AR-tabs {
    /*margin-left: 15%;*/

    margin-top: 0px;
    background-color: #64C1DD;
    padding-top: 6px !important;
    margin-bottom: 0 !important;
    margin-left: 0px !important;
    padding-left: 8px;
}

.AR-tabs li {
    /*float: left;*/
    margin-right: 10px;
    margin-bottom: 3px;
    display: inline-table;
}

.AR-tabs li > .AR-tabsButton.active::after {
    visibility: hidden;
}

.AR-tabs li > .AR-tabsButton::after {
    visibility: hidden;
}

.AR-tabBlock {
    clear: both;
}

.ar-help {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
    background-color: #f9f9f9;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #666666;
    /*float: left;*/
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    height: 20px;
    line-height: 20px;
    width: 40px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
}

.ar-help:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background: -moz-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
    background-color: #e9e9e9;
}

.ar-help:active {
    position: relative;
    top: 1px;
}

#accordion > h2 {
    background-color: #eaeaea;
    text-align: center;
}

.hl-btns input[type=radio], .hl-btns input[type=checkbox] {
    display: none;
    visibility: hidden;
}

.hl-btns label:before {
    content: "\25FE";
    font-size: 40px;
    vertical-align: top;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}

.hl-btns input[type=radio]:checked + label:before, .hl-btns input[type=checkbox]:checked + label:before {
    content: "\2611";
    font-size: 20px;
    vertical-align: top;
    margin: 0 10px;
}

#chksp + label:before {
    color: #FF0000;
}

#chkgm + label:before {
    color: #00FF00;
}

#chkul + label:before {
    color: #f7b70c;
}

#chkpwd + label:before {
    color: #C98BD1;
}

.too-simple + label:before {
    color: #91c7f9;
}

.too-complex + label:before {
    color: #FFA20C;
}

#_ar_meta_audience_list option[data-audience='GENERAL'] {
    background-color: #F36F31;
}

#_ar_meta_audience_list option[data-audience='KNOWLEDGEABLE'] {
    background-color: #00BFE7;
}

#_ar_meta_audience_list option[data-audience='SPECIALIST'] {
    background-color: #70BF4B;
}

#_ar_meta_audience_list option[data-audience='ACADEMIC'] {
    background-color: #FF1942;
}

#_ar_meta_audience_list option[data-audience='GENIUS'] {

}

.AR-TabsFooter {
    background-color: #eaeaea;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    box-shadow: 0 0 5px #d2d2d2 inset;
    padding: 5px;
}

.AR-TabsFooter > p {
    clear: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/*.AR-guide:before {
    content: url("ar-scholar.png");
    margin: 3px;
    vertical-align: middle;
}*/

.AR-hide {
    display: none !important;
    visibility: hidden;
}

.AR-show {
    display: block !important;
    visibility: visible;
}

/** TOOLTIP CSS **/
a.ARinfoToolTip {
    position: relative;
    margin-left: 80%;
    display: inline;
    /*float: right;*/
}

a.ARinfoToolTip span {
    position: absolute;
    width: 200px;
    color: #FFFFFF;
    background: #000000;
    height: auto;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    padding: 5px 10px;
    border-radius: 6px;
}

a.ARinfoToolTip span:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 100%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid #000000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

a:hover.ARinfoToolTip span {
    visibility: visible;
    opacity: 0.9;
    right: 100%;
    top: 50%;
    margin-top: -15px;
    margin-right: 15px;
    z-index: 999;
}

/*#right-score {
    background-color: #f9f9f9;
    padding: 5px 10px 15px;
}*/

.AR-tabBlock {
    background-color: #fff;
    padding: 10px;
    padding-top: 2px !important;
    border-top: 11px solid #64C1DD;
    border-right: 4px solid #64C1DD;
    border-left: 4px solid #64C1DD;
    border-bottom: 20px solid #64C1DD;
}

/*#right-score > div, #right-score > ul {
    background-color: #fff;
}*/

/** Bullet Colours **/
.ar_spritelist > li.ar_checkmarks_passed:before, .emotion-green:before {
    color: #8bc675;
}

.ar_spritelist > li.ar_checkmarks_warning:before, .emotion-yellow:before {
    color: #f5eb6b;
}

.ar_spritelist > li.ar_checkmarks_error:before, .emotion-red:before {
    color: #d82727;
}

.ui-accordion-header > a {
    font-weight: bold;
}

.ar_spritelist > li > div > a:after {
    position: absolute;
    top: 5px;
    right: 16px;
    min-height: 11px;
    width: 22px;
    font-weight: bold;
    content: "\2304";
    font-size: 22px;
    vertical-align: middle;
    /*color: #1789a8;*/
}

.ar_spritelist > li > div > a {
    color: inherit;
    display: block;
    width: 85%;
    word-wrap: break-word;
}

.ar_spritelist > li > div {
    display: block;
    word-wrap: break-word;
}

.ar_spritelist > li > div.ui-state-active > a:after {
    content: "\2303";
}

.ar_spritelist > li:before {
    content: "\25AC";
}

.ar_spritelist > li:before {
    position: absolute;
    margin: -3px 0 0 -20px;
    height: 12px;
    width: 12px;
    font-size: 130%;
    vertical-align: middle;
}

.threeOpp.ar_spritelist {
    padding: 0 20px;
}

.ar_info {
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    cursor: default !important;
    /* text-align: left !important; */
}

.ar_count {
    font-size: 18px !important;
    color: #64C1DD !important;
    font-weight: 800 !important;
    padding-bottom: 0;
    margin: 5px 0;
}

.onoffswitch {
    position: relative;
    width: 60px;
    float: left;
    -webkit-user-select: none;
    height: 32px;
    margin-left: 50px;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #ff1151;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0 !important;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 18px !important;
}

.onoffswitch-checkbox {
    display: none !important;
}

.onoffswitch-label {
    display: block !important;
    overflow: hidden !important;
    cursor: pointer !important;
    border: 2px solid #999999 !important;
    border-radius: 20px !important;
    height: 25px !important;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 25px;
    padding: 0;
    line-height: 25px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "off" !important;
    padding-left: 28px !important;
    background-color: #ffffff !important;
    color: #0a171b;
}

.onoffswitch-inner:after {
    content: "on" !important;
    padding-right: 28px !important;
    background-color: #D3D3D3 !important;
    color: #0a171b;
    text-align: right !important;
}

.onoffswitch-switch-spellings {
    display: block !important;
    width: 18px !important;
    margin: 6px !important;
    background: #EA818E !important;
    border: 2px solid #999999 !important;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 2px;
    right: 0;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch-spellings {
    right: 26px;
}

.ac-container label.onoffswitch-label::before {
    content: "" !important;
}

.onoffswitch-switch-grammar {
    display: block;
    width: 18px;
    margin: 6px;
    background: #96EDA4;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 2px;
    right: 0;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch-grammar {
    right: 26px;
}

.onoffswitch-switch-links {
    display: block;
    width: 18px;
    margin: 6px;
    background: #89E3E8;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 2px;
    right: 0;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch-links {
    right: 26px;
}

.onoffswitch-switch-paragraph {
    display: block;
    width: 18px;
    margin: 6px;
    background: #DCDCF4;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 2px;
    right: 0;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch-paragraph,
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch-emotion,
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch-word {
    right: 26px;
}

.onoffswitch-switch-sentence {
    display: block;
    width: 18px;
    margin: 6px;
    background: #F4BA92;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 2px;
    right: 0;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-switch-word {
    display: block;
    width: 18px;
    margin: 6px;
    background: rgb(255, 222, 137);
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 2px;
    right: 0;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-switch-emotion {
    display: block;
    width: 18px;
    margin: 6px;
    background: rgb(255, 134, 110);
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 2px;
    right: 0;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch-sentence {
    right: 26px;
}

.writer-hide {
    display: none;
}

.spellings_list li {
    font-family: 'Roboto', sans-serif;
    padding-top: 12px;
}

ul.spellings_list li {
    background: none !important;
}

.arSMhighlight:hover #load_spelling-popup, .arGMhighlight:hover #load_grammar-popup {
    display: inline !important;
}

.pwdHighlight, .SenCompHighlight, .arSMhighlight, .arGMhighlight {
    position: relative !important;
    z-index: 99;
}

#load_spelling-popup, #load_grammar-popup {
    position: absolute !important;
    bottom: 0;
    left: 50% !important;
}

.suggestions_header-sm {
    min-width: 110px;
    text-align: center;
    border: 1px solid #666666 !important;
    position: absolute !important;
    background-color: #EA818E;
    border-radius: 7px !important;
    width: 100%;
}

.pwdHighlight {
    background-color: #DCDCF4;
}

.pwdHighlight:hover .writer-paragraph_Complexity, .SenCompHighlight:hover .writer-sentence_Complexity {
    display: inline !important;
}

.suggestions_header-so {
    width: 100% !important;
    text-align: center;
    border: 1px solid #666666 !important;
    position: absolute !important;
    background-color: rgb(244, 159, 100);
    border-radius: 7px !important;
    margin-top: 0 !important;

}

.suggestions_content {
    margin-top: 12px !important;
}

.hr {
    height: 1px !important;
    border: 1px solid #64C1DD !important;
}

.writer_fixes-labels {
    font-size: 20px;
}

.generalColor {
    background-color: #F36F31 !important;
}

.knowledgeableColor {
    background-color: #00BFE7 !important;
}

.academicColor {
    background-color: #FF1942 !important;
}

.specialistColor {
    background-color: #70BF4B !important;
}

.geniusColor {
    background-color: #fff100 !important;
}

.GeneralColorText {
    color: #ECA456 !important;
}

.KnowledgeableColorText {
    color: #64C1DD !important;
}

.AcademicColorText {
    color: #E4555C !important;
}

.SpecialistColorText {
    color: #70BE4B !important;
}

.GeniusColorText {
    color: #E5CB5E !important;
}

span#arSelectedAud_WP, span#arSelectedAud2_WP {
    font-size: 18pt !important;
    font-weight: bold !important;
    display: block;
    text-align: center;
    margin: 5px 0;
}

input.ar-aud-slider_WP::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-image: url('../imgs/Audience_bar_arrow.png');
    height: 40px;
    border: none;
    background-color: transparent;
    border-radius: 0;
    background-repeat: no-repeat;
    width: 16px;
    box-shadow: none;
    cursor: pointer;
    display: block;

}

.arScoreBtn_WP {
    background-color: #E9915A !important;
    -webkit-border-top-left-radius: 7px !important;
    -moz-border-radius-topleft: 7px !important;
    border-top-left-radius: 7px !important;
    -webkit-border-top-right-radius: 7px !important;
    -moz-border-radius-topright: 7px !important;
    border-top-right-radius: 7px !important;
    -webkit-border-bottom-right-radius: 7px !important;
    -moz-border-radius-bottomright: 7px !important;
    border-bottom-right-radius: 7px !important;
    -webkit-border-bottom-left-radius: 7px !important;
    -moz-border-radius-bottomleft: 7px !important;
    border-bottom-left-radius: 7px !important;
    text-indent: 0 !important;
    border: 1px solid #E9915A !important;
    display: block;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-style: normal !important;
    height: 40px !important;
    line-height: 38px !important;
    width: 65% !important;
    text-decoration: none !important;
    text-align: center !important;
    /*text-shadow: 1px 1px 0 #810e05 !important;*/
    padding: 0 !important;
}

/*.arScoreBtn:hover {*/
/*background-color: #d9505e !important;*/
/*}*/

.arScoreBtn_WP:active {
    position: relative !important;
    top: 1px !important;
}

/*copy pasted*/
.ar-aud-match img {
    height: 92px;
    margin-left: 20px;
    margin-right: 20px;
}

.ar-selectAudSlider_WP, .arAnalyze_WP, #AW-notLoggedIn {
    padding: 0 12px 12px !important;
}

input.ar-aud-slider_WP[type='range'] {
    background-image: url('../imgs/Audience_colour_bar2_3.png');
    -webkit-appearance: none;
    height: 12px;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: none !important;
    background-size: 254px 23px;
    background-repeat: no-repeat;
    border-radius: 5px;
}

input#arSelectedAudptr_WP:focus {
    outline: none;
}

img#aud_info_WP {
    height: 12px;
}

#awLoading {
    display: block;
    margin: 0 auto;
    max-height: 110px;
}

#ar_desc-aud_WP {
    text-align: center;
    word-spacing: 30px;
}

#awloadingBlock > h3 {
    width: 80%;
    color: #5AC6E9;
    font-size: 16px !important;
    text-align: center;
    margin: 0 auto;
}

#aw_moretips_WP {
    color: rgb(233, 145, 90);
    margin-left: 10px;
    margin-bottom: -15px;
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
}

#aw_titletips_WP {
    display: block;
    margin-left: 10px;
    padding-left: 0px;
    color: #464646;
    font-family: Roboto, sans-serif;
    text-align: left;
    list-style-type: square;
    font-size: 13px;
    font-weight: 400;
}

#aw_titletips_WP li {
    margin-left: 11px;
    color: #00BFE7;
}

.AWtitleHeadinggreen:before {
    content: url("../imgs/Icon_AW_check.png");
    margin-right: 10px;
}

.AWtitleHeadingred:before, .AWtitleHeadingyellow:before {
    content: url("../imgs/Icon_AW_X.png");
    margin-right: 10px;
}

#AWtitleHeading {
    font-size: 24px;
    color: #64C1DD;
    margin-top: 0;
    margin-bottom: 0;
}

#aranalyzer_metabox button {
    cursor: pointer;
}

#ar-WCbtn .writer_fixes-labels > span {
    margin-left: 120px;
    background-color: #00bfe7;
    width: 45px;
    color: #fff;
    opacity: 0.7;
    padding: 2px 7px;
    border-radius: 16px;
}

.arInlineButton {
    position: absolute;
    right: 0;
    top: 0;
}

.arMeasureWrapper {
    position: relative;
}

.arBetaTag {
    border: 2px solid;
    padding: 1px 7px;
    box-shadow: 0 0 3px #fff inset;
    border-radius: 7px;
    background-color: rgb(100, 193, 221);
    font-size: 10px;
    color: #ffffff;
    font-style: normal;
}

.arMeasureWrapper.arDoubleLN label {
    line-height: 26px;
}

.arMeasureWrapper.arDoubleLN .arInlineButton {
    top: 15px !important;
}

.arTooltipsy{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    max-width: 200px;
    color: white;
    background-color: #64C1DD;
    border: 1px solid #E6E6E6;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    text-shadow: none;
    text-align: left;
    word-wrap: break-word;
}
.arTooltipsy * {
    color: #ffffff;
}